.table {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 3em 0;
    padding: 0;
}
.table-cell {
    box-sizing: border-box;
    flex-grow: 1;
    width: 100%;
    padding: 0.8em 1.2em;
    overflow: hidden;
    list-style: none;
    border: solid 1px white;
}

.table--2cols > .table-cell {
    width: 50%;
}
.table--3cols > .table-cell {
    width: 33.33%;
}

.result-title {
    box-sizing: border-box;
    flex-grow: 1;
    width: 100% !important;
}

.table .pagination {
    width: 100%;
}