.table {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 3em 0;
    padding: 0;
}

.table--2cols > .table-cell {
    width: 50%;
}

.table--3cols > .table-cell {
    width: 33.33%;
}

.table-cell {
    box-sizing: border-box;
    flex-grow: 1;
    width: 100%;
    padding: 0.8em 1.2em;
    overflow: hidden;
    list-style: none;
    border: solid 1px white;
}

.table-cell img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*object-fit: none;*/
    /*object-position: 50% 50%;*/
}

.table .pagination {
    width: 100%;
    text-align: center;
}

.table .pagination .page-index {
    margin-left: 0.5em;
    margin-right: 0.5em;
    cursor: pointer;
}

.header {
    font-family: Times, Helvetica, serif;
    font-weight: bold;
    height: 2.5vw;
    display: flex;
}

.header .search-bar {
    font-family: inherit;
    font-weight: inherit;
    border: 2px #666666 solid;
    border-radius: 15px;
    margin-right: 0.5em;
    width: 80%;
    text-indent: 2em;
}

.header .search-button {
    font-family: inherit;
    font-weight: inherit;
    border: 2px #666666 solid;
    background-color: #999999;
    border-radius: 15px;
    margin-left: 0.8em;
    width: 20%;
    transition: 0.25s;
}

.header .search-button:hover {
    background-color: #008CBA;
}
.result-title {
    margin-left: 1em;
    box-sizing: border-box;
    flex-grow: 1;
    width: 100% !important;
}

.bordered {
    border: 2px #666666 solid;
    border-radius: 15px;
    height: 100%;
}

.spacer {
    padding: 0.8em 1.2em;
}